!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to books.com, #{@user.name}
    %p
      You have successfully signed up to books.com,
      your username is: #{@user.email}.
      %br/
    %p
      To login to the site, just follow this link: #{ link_to 'Confirm your account', @url}.
    %p Thanks for joining and have a great day!
