=provide(:title, 'Home')
.opcity
.welcome.center
  %h2
    Welcome to the
    %span#BA Books Application
  %h3 New user?
  = link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg"
  %h4
    or
    = link_to "Log In", signin_path, class: "btn btn-link"