/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  padding-top: 70px;
  background-image: image-url("books.jpg");
  background-size: cover;
}

.opcity {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 100px;
  margin-left: 25%;
  border-radius: 10px;
  background-color: #eeeeee;
  opacity: 0.7;
}
.welcome {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 100px;
  margin-left: 25%;
  border-radius: 10px;
}

#BA {
  color: #0088cc;
}

#books_logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #0088cc;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
}

#books_logo:hover {
    color: #0e4766;
    text-decoration: none;
}