/*
 *= require_self
 *= require_tree
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  background-image: url(books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  padding-top: 60px;
}

.opcity {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 130px;
  margin-left: 25%;
  border-radius: 10px;
  background-color: #eeeeee;
  opacity: 0.7;
}
.welcome {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 130px;
  margin-left: 25%;
  border-radius: 10px;
}

#BA {
  color: #0088cc;
}

#books_logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #0088cc;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
}

#books_logo:hover {
    color: #0e4766;
    text-decoration: none;
}

.book-list{
  td, th {
    border: 1px solid #0088cc;
  }
  th {
    background-color: #0088cc;
    color: white;
  }
  td {
    background-color: white;
  }
}

