// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


.book-list{
  td, th {
    border: 1px solid #0088cc;
  }
  th {
    background-color: #0088cc;
    color: white;
  }
  td {
    background-color: white;
  }
}

