// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.opocity_pass_reset_new {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 100px;
  margin-left: 25%;
  border-radius: 10px;
  background-color: #eeeeee;
  opacity: 0.8;
}

.pass_reset_new {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 100px;
  margin-left: 25%;
  padding-top: 100px;
}

.opcity_pass_reset_edit {
  position: absolute;
  width: 500px;
  height: 275px;
  top: 100px;
  margin-left: 25%;
  border-radius: 10px;
  background-color: #eeeeee;
  opacity: 0.8;
}

.pass_reset_edit {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 100px;
  margin-left: 25%;
  border-radius: 10px;
}

#RP {
  color: #5cb85c;
}

#pass_field {
  float: center;
}