// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.sign_in {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 100px;
  margin-left: 25%;
  border-radius: 10px;
}

.opcity_signin {
  position: absolute;
  width: 500px;
  height: 275px;
  top: 100px;
  margin-left: 25%;
  border-radius: 10px;
  background-color: #eeeeee;
  opacity: 0.8;
}

.services {
  position: absolute;
  margin-top: 400px;
  margin-left: 30%;
}

.opcity_services {
  position: absolute;
  width: 500px;
  height: 150px;
  top: 460px;
  margin-left: 25%;
  border-radius: 10px;
  background-color: #eeeeee;
  opacity: 0.8;
}

.form {
  float: center;
  margin: 10px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}