.sign_in {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 130px;
  margin-left: 25%;
  border-radius: 10px;
}

.opcity_signin {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 130px;
  margin-left: 25%;
  border-radius: 10px;
  background-color: #eeeeee;
  opacity: 0.8;
}

.services {
  position: absolute;
  top: 480px;
  margin-left: 30%;
}

.opcity_services {
  position: absolute;
  width: 500px;
  height: 150px;
  top: 480px;
  margin-left: 25%;
  border-radius: 10px;
  background-color: #eeeeee;
  opacity: 0.8;
}

#sign_in {
  color: #0088cc;
}

.form {
  float: center;
  margin: 10px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}